<%- include('head')%>
<body>

    <div class="container">
        <div id="rooms">
            <h2>Join rooms</h2>

        

            <% if (group !== null) { %>
        
                <a id="joinRoom" class="btn" href="/rooms/<%= group._id %>"><%= group.group %></a>
                <% } else { %>

            <h4>You have not yet been allotted a group</h4>
            <% } %>

        
        </div>
        
    </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>

    

    </script>
    <script src="/script.js"></script>
</body>
</html>