<%- include('head')%>
    <body>
            
        <div class="rounds">
            <h3>Go to the first round! </h3>

            <button id="round1">ROUND 1</button>
            
        </div>
       
    </body>

    <script src="/socket.io/socket.io.js"></script>

    
   <script>
    //var socket = io('http://localhost:3000');
    var socket = io('https://cryptic-anchorage-13951.herokuapp.com');

    socket.emit('join', {room: '<%= group.group%>'});  

    let round1 = document.getElementById("round1");
console.log("round 1", round1)

round1.addEventListener("click", () => {
   
    console.log('round1 chosen')
    let data = {id: "round1", room: '<%= group.group%>'}
    socket.emit('roundOne', data);
})

socket.on('notEnough', (data) => {
    console.log('Not at all enough people have joined room');
    let mainDiv = document.createElement("div");
    mainDiv.setAttribute("id", "mainDiv")
    mainDiv.setAttribute("class", "alert alert-danger");
    mainDiv.setAttribute("role", "alert");
    mainDiv.innerHTML = "Not enough people have joined"


   
    let message = document.createElement("span");
    let close = document.createElement("span");
    close.setAttribute("id", "closeMessage");
    close.innerText = "X";
  
    mainDiv.appendChild(close);
    let theBody = document.getElementsByTagName("body");

    theBody[0].prepend(mainDiv);
    close.addEventListener("click", closeMessage);

})

function closeMessage(){
    let messageElement = document.getElementById("notEnough");
    let closeElement = document.getElementById("closeMessage");
    let mainDiv = document.getElementById("mainDiv");
    mainDiv.style.display = "none";
    messageElement.style.display = "none";
    closeElement.style.display = "none";
  
    
}

socket.on('roundOne', (data) => {
    console.log('round One chosen');
    location.href = "/rooms/<%= group._id%>/startQuiz"
})

   </script>

   
</head>
</html>