<%- include('head')%>
<body>

        <section class="intro">
            <h1>Welcome to the Interactive Whiteboard!</h1>
            <a class="login-btn" href="/rooms">Go to Group Based game</a>
            <a class="login-btn" href="board">Whiteboard</a>
        </section>
</body>
</html>