*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


/*body{
    background: #001e4d;
}
*/

#teacherPage{
    margin: 1.5rem 0;
}


.app{
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    /*max-width: 600px;
    margin: 100px auto 0;*/
    border-radius: 10px;
    padding: 30px;
    border: #001e4d;
}

#closeMessage{
    float: right;
    cursor: pointer;
}

#addStudent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 1.5rem;
}

#student1, #student2{
    margin: 0 1.5em;
}

#group{
    margin: 0 1.5em;
}

#addGroup{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 1.5rem;
}

#left{
    flex: 1 1 75%;
}



#message-container{
    height: 60%;
    width: 99%;
}

#submit-quiz{
    display: none;
}


.app h1{
    margin-top: 20px;
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30px;
}

/* below h1 is from image gen */

h1{
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    padding: 1rem 0;
}


.quiz{
    padding: 20px 0;
}



.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    text-align: left;
}

#answer-buttons{
    display: flex;
    flex-direction: column;
}

#answer-buttons button{
    width: 50%;
}


.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 23%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 5px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}


.btn:hover{
    background: #222;
    color: #fff;
}


#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}


#myForm, .image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


#myForm input, select{
    font-size: 20px;
    width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

#myForm button {
    font-size: 20px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  
#done{
    text-decoration: none;
    margin: 1.5rem auto;
   
}

  #app{
   width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#chat-container{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.message{
    flex: 1;
    max-width: 100%;
    font-size: 1.2rem;
    margin: 5px;
}

.profile{
    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 5%;
    height: 5%;
}

#chatgpt{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;

}
/*
body{
    background-color: #343541;
}
*/

#rooms a{
    text-decoration: none;
}


.rounds, #rooms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rounds h3{
    padding: 2rem;
    font-size: 22px;
}

.rounds button{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 10%;
    cursor: pointer;
}


#finishedQuiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#finishedQuiz h3{
    margin: 1.5rem 0;
}

#timeUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



h2{
    font-size: 24px;
    color: #001e4d;
    margin: 1.5rem auto;
  
    text-align: center;
}

.textarea{
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textarea h5{
    margin: auto;
    width: 75%;
    padding: 10px 0;
    font-size: 18px;
}

textarea{
    width: 75%;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    display: block;
}

#submitStory{
  
    padding: 1rem;
 
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
}

.spotify-playlists{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.list {
    
    max-width: calc(30% - 20px);
    margin-right: 10px;
    margin-bottom: 20px;
  }

.list img{
    width: 90%;
    border-radius: 6px;
    margin-bottom: 10px;
}

#completeGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*=====================*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');*/

body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'Caveat', cursive;

}


nav{

    background-color: #007bff;
   
    padding: 10px;

    background-color: rgba(0,136,169,1);
    padding: 10px 25px;
    border: none;
    
    cursor:pointer;
    transition: all 0.3s ease 0s;
   
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 30px;
    margin: 10px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #fff;
}

nav ul li a{
    color: white;
}
/*
nav ul li::after{
    content: "";
    
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
}

.login-btn {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.login-btn:hover {
    background-color: #0056b3;
}

.intro {
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

.login-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #e0e0e0;
    padding: 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.login-nav.visible {
    transform: translateX(0%);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

label {
    font-weight: bold;
}

input[type = "text"],
input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-btn {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: rgba(0,136,169,1);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.login-btn :hover {
    background-color: rgba(0,136,169,0.8);
}

.drawing-btn {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: rgba(0,136,169,1);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.drawing-btn :hover {
    background-color: rgba(0,136,169,0.8);
}

.about-btn {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: rgba(0,136,169,1);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.about-btn :hover {
    background-color: rgba(0,136,169,0.8);
}

.logout-btn {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: rgba(0,136,169,1);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.logout-btn :hover {
    background-color: rgba(0,136,169,0.8);
}



